body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}

.container .horizontalBtn {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #47b2d7;
  color: white;
  border: none;
  cursor: pointer;
}
